@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
}

h1,
h2 {
	margin-bottom: 15px;
}

img {
	max-width: 100%;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.txt-large {
	font-size: 20px;
}

.txt-center {
	text-align: center;
}

.display-1 {
	font-size: 3rem;
	font-weight: 300;
}

.display-2 {
	font-size: 2.2rem;
	font-weight: 300;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 45px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
  
}

.btn-outline {
	border: 1px solid #2792e9;
	color: #1f2038;
}

.btn-outline:hover {
	background: #2792e9;
	color: #fff;
}

.p-1 {
	padding: 80px 0;
}

.pb-1 {
	padding-bottom: 30px;
}

.w-70 {
	width: 70%;
}

.w-30 {
	width: 30%;
  cursor: pointer;
}
.w-30:hover{
	
}

.w-70,
.w-30 {
	margin: 0 auto;
}

.bk-half {
	background: linear-gradient(to bottom, #000000 30%, #ffffff 70%);
}

.bk-half-reverse {
	background: linear-gradient(to top, #413e3e 0%, #adadad 50%);
}

.flex {
	display: flex;
	justify-content: space-between;
}

.flex-box {
	flex: 1;
}

/* Header */
.mainheader {
	height: 100vh;
  
}

/* Navbar */
#navbar {
	height: 80px;
	background: #080707;
  position: fixed;
  width: 100%;
}

#navbar .logo img {
	height: 50px;
}

#navbar a {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}
#navbar a:hover{
  color: #navbar a;
}

#navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#navbar ul {
	display: flex;
}

#navbar ul li {
	margin-left: 20px;
	text-decoration: none;
}

/* Showcase */
#showcase img {
	height: 350px;
	border-radius: .5rem;
	border: 8px solid #2792e9;
	-webkit-border-radius: 50%;
	-moz-border-radius: .5re;
	-ms-border-radius: .5re;
	-o-border-radius: .5re;
  margin-top: 50px;
}

/* About */
#about img {
	padding-left: 80px;
}

/* Extract */
#extract img {
	padding: 20px 0;
}

#extract .txt-large {
	text-transform: uppercase;
	font-weight: 500;
}

/* Portfolio */
#portfolio img {
	height: 400px;
}

/* Social */
#social .flex {
	display: flex;
}

#social img {
	margin: 10px;
}

/* Footer */
#mainfooter {
	background-color: #000000;
	padding: 30px 0 0 0px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #f2f2f2;
}
.footer-copy p{
  margin-bottom: 0;
  color: #ffffff;
  font-size: 19px;
}

.footer-column {
  flex-basis: 30%;
  max-width: 30%;
}

.footer-column h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}



.fa {
  font-size: 20px;
  color: #f2f2f2;
}

.fa-map-marker, .fa-phone, .fa-envelope {
  margin-right: 25px;
}
